
/* NavBar styles */
.nav-bar {
    position: relative;
    z-index: 5;
  }
  .nav-content,
  .nav-content .logo {
    display: flex;
    align-items: center;
  }
  .nav-content {
    justify-content: space-between;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  .nav-content .logo {
    gap: 20px;
    margin-right: auto;
  }
  .nav-content .logo img {
    width: 50px;
    aspect-ratio: 1/1;
  }
  .nav-content .links {
    flex: 2;
    display: flex;
    align-items: center;
  }
  .nav-content .links nav {
    display: flex;
    gap: 20px;
    flex: 3;
    justify-content: center;
    align-items: center;
    color: #000;
  }
  .nav-content .links nav a {
    color: inherit;
    font-size: 20px;
    font-weight: 600;
    font-style: initial;
    padding: 10px;
    transition: all ease-in-out 0.3s;
  }
  .nav-content .links nav a.active {
    background-color: rgb(97, 97, 239, 0.6);
    border-radius: 15px;
  }
  .nav-content .links nav a:not(.active):hover {
    background-color: #b7b7e4;
    border-radius: 15px;
    opacity: 0.3;
  }
  
  .nav-content .links .socials {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
  }
  .nav-content .links .socials a {
    padding: 10px 18px;
    background-color: blue;
    color: white;
    border-radius: 30px;
  }
  .hamburger {
    display: none;
  }
  
@media only screen and (max-width: 1040px) {
  .nav-content .links {
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 70vh;
    background-color: rgba(104, 150, 215, 0.6);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    top: 90px;
    left: -200%;
    transition: all 1s;
    backdrop-filter: blur(10px);
    gap: 40px;
    padding: 20px;
    z-index: 1;
  }
  .nav-content .links nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
  }
  .nav-content .links.return {
    left: 0;
  }
  .hamburger {
    display: block;
  }

  .logo img {
    width: 20px;
  }
  .logo h1 {
    font-size: 23px;
  }
}