
.success {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
    padding: 30px 5px;
    background-color: limegreen;
    color: white;
    box-sizing: 0px 0px 4px rgba(0, 0, 0, 0.2);
    justify-content: center;
    max-width: 350px;
    margin-inline: auto;
    margin-top: 160px;
    border-radius: 15px;
    
  }
  .success a {
    color: #000;
    font-style: italic;
    font-weight: 600;
    text-decoration: underline;
  }