@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Outfit", sans-serif;
  list-style: none;
}

body{
  font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 500;
font-style:inherit;
}

/* SingIn Styles */
.page-title {
  text-align: center;
  background-color: rgb(4, 4, 76);
  color: #fff;
  margin: 50px 0 20px;
  padding: 30px;
  border-radius: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
  max-width: 550px;
  border: none;
  margin: 40px auto;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  padding: 33px 25px;
}
.form h2 {
  margin: 20px 0;
  font-size: 23.2px;
  font-weight: 800;
}
.form label {
  font-size: 20px;
  align-self: start;
  font-weight: 700;
}
.form input {
  width: 100%;
  padding: 10px;
  border-style: outset;
  font-size: 26px;
  color: rgba(0, 0, 0);
}
.form button {
  background-color: blue;
  color: white;
  padding: 13px 80px;
  border: none;
  font-size: 20px;
  border-radius: 25px;
  cursor: pointer;
  align-self: center;
  margin-top: 13px;
}
.form .links span a {
  font-size: 20px;
  font-style: italic;
  color: #1e1e57;
  transition: all linear 1ms;
}
.form .links span a:hover {
  border-bottom: 3px solid #1e1e57;
}

strong{
  font-size: 20px;
  color: #000;
  margin: 10px 0;
}
/* login password  */
.password{
   border: 2px solid gray;
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   padding: 0 5px 0 0;
}
.password-input{
  border: 0;
  width: 100%;
  border-style:hidden;
}
/* css for tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; 
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%; 
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* home pag ecss */
.containers {
  background: url(./image/jr-korpa-YXQew2KZjzY-unsplash.jpg) center center/cover
    no-repeat;
  color: #fff;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 20px;
  height: 85vh;
  position: relative;
  align-items: center;
  padding: 0 60px;
}

.containers img {
  width: 40%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.author-details {
  width: 50%;
}

.bactto {
  font-size: 1.25rem;
  color: #fff;
  text-decoration: underline;
}
@keyframes move-left-to-center {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.move-left-to-center {
  animation: move-left-to-center 1s ease-in-out forwards;
}
@keyframes move-top-to-center {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.move-top-to-center {
  animation: move-top-to-center 1s ease-in-out forwards;
}

@media only screen and (max-width: 1040px) {
  .containers {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 20px 0;
    height: 100%;
  }
  .author-details {
    font-size: 12px;
    padding: 10px;
    width: 100%;
    text-align: center;
  }
  .containers img {
    width: 90%;
  }
}
